@font-face {
    font-family: Fredoka;
    src: "../../static/fonts/Fredoka/Fredoka-VariableFont_wdth,wght.ttf";
}

@font-face {
    font-family: OpenSans;
    src: "../../static/fonts/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: lightgray;
}

main {
    margin: 20px;
}

h1, h2, h3 {
    font-family: Fredoka;
}

h4, h5, h6 {
    font-family: OpenSans;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p {
    font-family: OpenSans;
    font-size: 16px;
}

a {
    color: #125231;
    font-family: OpenSans;
}

.center-text {
    text-align: center;
    margin: auto;
}

/*header*/
header {
    position: relative;
    background-color: #125231;
    color: white;
    width: 100%;
    box-shadow: 0px 6px 6px rgb(0, 0, 0, 0.2);
    z-index: 10;
}

header a{
    color: white;
    text-decoration: underline solid transparent;
    transition: text-decoration 0.2s ease;
}

header a:hover{
    text-decoration: underline;
}

/*navigation bar*/
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    padding: 0px 10vw;
}

.top-nav img {
    height: 50px;
}

.menu {
    display: flex;
    flex-direction: row;
    text-align: center;
    max-width: 100%;
    font-size: 24px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 2.5vw;
    overflow: visible;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 50px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

/*hamburger icon*/
.menu-button, .menu-button::before, .menu-button::after {
    display: block;
    background-color: white;
    position: absolute;
    height: 8px;
    width: 55px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 10px;
}

.menu-button::before {
    content: '';
    margin-top: -18px;
}

.menu-button::after {
    content: '';
    margin-top: 18px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

/*pop-up menu*/
@media (max-width: 699px) {

    .top-nav {
        padding: 0px 50px;
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 75px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 6px 6px rgb(0, 0, 0, 0.2);
    }

    .menu > li {
        overflow: hidden;
    }

    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border: .75px solid lightgray;
        height: 3em;
        padding: .5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 1em 0;
        width: 100%;
        background-color: #125231;
    }

    .menu > li a {
        display:block;
        width: 100%;
        height: 100%;
        line-height: 46px;
    }
}

/*product card*/
.card-link {
    margin: 0 auto;
    text-decoration: none;
}

.product-card {
    align-items: stretch;
    background-color: white;
    border: 4px solid #031c0f; /*hmmm either solid or outset*/
    border-radius: 10px;
    color: #031c0f;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    max-width: 100%;
    width: 360px;
    /*display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 16px; 
    background-color: white;
    border-radius: 24px;
    border: 2px solid #125231;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 24px;
    width: 290px;
    height: 448px;*/
}

.product-card img {
    height: 200px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 8px;
    width: 100%;
    padding: 4px 0;
    border-top: 2px solid black;
}

.piece-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
}

.piece-count img {
    height: 30px;
    width: 30px;
}

.card-info h4 {
    width: 100%;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-to-bag {
    align-items: center;
    background-color: #125231;
    border-radius: 12px;
    color: white;
    column-gap: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto 0 auto;
    padding: 8px 16px;
}

.add-to-cart img {
    height: 30px;
    width: 30px;
}

/*homepage*/
.homepage {
    align-items: center;
    color: #031c0f;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 40px 20px 20px 20px;
}

.homepage .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage .hero h1 {
    text-align: center;
}

.homepage .hero img {
    max-width: 100%;
}

.homepage .featured-products {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.homepage .products-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 48px;
    margin: 0;
    padding: 0;
}

/*product page*/
.product-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    min-height: 80vh;
    max-width: 1200px;
    padding: 48px;
    margin: auto;
}

.product-page .add-to-bag {
    align-items: start;
    justify-content: start;
    margin: 20px 20px 20px 0;
    padding: 8px 16px;
}

.shopping-bag img {
    height: 30px;
    width: 30px;
}

.product-image {
    max-width: 30vw;
    max-height: 70vh;
    width: auto;
    height: auto;
}

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 12px;
    width: 100%;
    max-width: 850px;
    height: 100%;
    padding-left: 24px;
    padding: 24px;
    border-radius: 24px;
    background-color: white;
    border: 2px solid #125231;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

    /* home prod card */
.products-grid {
    align-items: stretch;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    justify-content: space-between; 
    padding: 20px auto;
  }

.product-card {
    align-content: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: block;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }

.product-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

.card-image {
    width: 100%;
    aspect-ratio: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

.card-image img {
    width: 80%;
    height: 80%;
    object-fit: fill;
    padding: 55px;
  }

.card-info {
    padding: 16px;
  }


@media (max-width: 768px) {
    h1 {
      font-size: 32px;
    }
}

@media (max-width: 864px) {
    .products-grid {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 900px) {
    .product-page {
        flex-wrap: wrap;
    }

    .product-image {
        max-width: 70vw;
        max-height: 70vh;
        width: auto;
        height: auto;
    }
}

  @media (max-width: 1290px) {
    .products-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

/*bag and confirmation page*/
.bag-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

.bag-page button {
    background-color: #125231;
    color: white;
    border-radius: 12px;
    padding: 8px 16px;
    cursor: pointer;
}

.bag-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

.bag-item img {
    height: auto;
    width: 250px;
}

.bag-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    padding: 0px;
    margin: 0px;
}

.bag-items ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bag-items li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 24px;
    border: 2px solid #125231;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 24px;
}

.bag-items li h4{
    width: 100%;
    text-align: center;
}

.sad-frog img {
    width: 500px;
}

.add-remove {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;
}

